.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 16vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(16px + 2vmin);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.App-panel {
  /*height: 70vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 20px 20px 0 20px;
}

.MuiDialogTitle-root {
  line-height: 1.1em;
  background-color: darkmagenta;
  color: white;
}

.MuiDialogContentText-root {
  padding-top: 1em;
}

.App-panel .MuiButton-root {
  width: 100%;
  height: 3em;
}

.App-panel .MuiButton-label {
  font-size: 1.2em;
}

.App-panel img.Led {
  width: 1.5em;
  height: 1.5em;
  top: 0.25em;
}